<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="DBMS" connectionString="Data Source=DESKTOP-M0E38T9;Initial Catalog=Train_Syatem;User ID=sa;Password=65891841"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  
  <system.serviceModel>
    <!--this will be Add by me-->
    <services>
      <service name="WcfService2.EmpService">
        <endpoint address="" contract="WcfService2.IEmpService" binding="webHttpBinding" behaviorConfiguration="abcd"></endpoint>
      </service>
    </services>
    <!-- yahan tk-->
    
    <behaviors>

<!-- or  ye bhi-->
      <endpointBehaviors>
        <behavior name="abcd">
          <webHttp/>
        </behavior>

      </endpointBehaviors>
      
      
      
      
      
      
      <serviceBehaviors>
        <behavior>
          
          
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
